.neon-text {
    text-shadow: 0 0 10px rgba(0, 255, 255, 1),
                0 0 20px rgba(0, 255, 255, 0.5),
                0 0 30px rgba(0, 255, 255, 0.2);
    animation: neon 1s infinite linear;
  }
  
  @keyframes neon {
    0% {
      text-shadow: 0 0 10px rgba(0, 255, 255, 1),
                    0 0 20px rgba(0, 255, 255, 0.5),
                    0 0 30px rgba(0, 255, 255, 0.2);
    }
    50% {
      text-shadow: 0 0 20px rgba(0, 255, 255, 1),
                    0 0 40px rgba(0, 255, 255, 0.5),
                    0 0 60px rgba(0, 255, 255, 0.2);
    }
    100% {
      text-shadow: 0 0 10px rgba(0, 255, 255, 1),
                    0 0 20px rgba(0, 255, 255, 0.5),
                    0 0 30px rgba(0, 255, 255, 0.2);
    }
  }



  .border-glow {
    border: 2px solid transparent;
    border-image: linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 255, 0, 1), rgba(0, 255, 0, 1), rgba(0, 0, 255, 1), rgba(255, 0, 0, 1)) 1 1;
    border-image-slice: 1;
    border-image-repeat: round;
    transition: border-image-slice 0.5s ease-in-out;
}

.border-glow:hover {
    border-image-slice: 0;
}